#content
  .wrapper
    %section#menu
      %h2.envolved PAPAS
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}

      %h2.envolved ENSALADAS
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}

      %h2.envolved OTROS ALIMENTOS
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}

      %h2.envolved BEBIDAS
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      


#modal-login.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Accede para hacer tu pedido
  .modal-body
    = link_to image_tag('tw.png', :class => 'btn-tw'), user_omniauth_authorize_path(:twitter)
    %p No te tomará más de 10 segundos

#modal-base.modal.hide.fade
  = form_tag do
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3 Papatías
    .modal-body
      = image_tag('papa.png', :class => 'modal-photo')
      .modal-right
        .input-line
          = check_box_tag 'eda'
          = label_tag(:eda, 'Orden Media: $40')
          = text_field_tag 'eda', '', class: 'input-cant', placeholder: '1'
        .input-line
          = check_box_tag 'eda2'
          = label_tag(:eda2, 'Orden Completa: $60')
          = text_field_tag 'eda2', '', class: 'input-cant', placeholder: '1'
        .input-line.loading-row
          = image_tag('ajax-loader.gif', :class => 'loading')
          %p Añadiendo a tu orden.
    .modal-footer
      %a.btn.btn-primary{:href => "#", :class => "btn-anadir"}

:javascript
  new Instafood.MenuRouter
  Backbone.history.start()

