#content
  .wrapper
    %section#menu
      %h2.envolved PAPAS
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}

      %h2.envolved ENSALADAS
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}

      %h2.envolved OTROS ALIMENTOS
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}

      %h2.envolved BEBIDAS
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      %article.col4
        %a.ablock{"data-toggle" => "modal", :href => "#modal-base"}
          = image_tag('p1.jpg', class: 'main-pic')
          = image_tag('zoom.png', class: 'zoom-img')
        %span.costo $90, $40, $100
        = link_to 'Añadir', '#modal-base', :class => 'btn-plus', data:{toggle: 'modal'}
      
= render 'menu/menu_item_modal'





:javascript
  new Instafood.MenuRouter
  Backbone.history.start()

