%header
  .wrapper
    %h1
      = link_to 'Las Fabulosas Papas powered by Instafood', '#'
    %nav
      %ul
        %li
          = link_to 'Inicio', root_path
        %li
          = link_to 'Ver Menú', menu_path
        %li
          = link_to 'Cobertura', '#'
        %li
          = link_to 'Cómo Funciona', '#'
        %li
          = link_to 'FAQ', '#'
        %li
          = link_to 'Términos y Condiciones', '#'
    .status
      STATUS
      %span Recibiendo Pedidos
    .badge
      Instafood