%header
  .wrapper
    %h1
      = link_to 'Las Fabulosas Papas powered by Instafood', '#'
    %nav
      %ul
        %li
          = link_to 'Inicio', root_path
        %li
          = link_to 'Ver Menú', menu_path
        %li
          = link_to 'Cobertura', '#'
        %li.empty
        %li
          = link_to 'Cómo Funciona', '#'
        %li
          = link_to 'FAQ', '#'
        %li
          = link_to 'Condiciones', '#'
    .status
      STATUS
      %span Recibiendo Pedidos
    .badge
      = link_to 'Instafood', '#'
    .cart
      3 items en tu pedido.
      %br
      %span TOTAL: $200
      = link_to 'Revisar mi pedido', '#'
    = render 'layouts/cart'