#content
  .wrapper
    %section#slide
      = image_tag('slid.jpg', class: 'slid')
      = image_tag('float.png', class: 'img-float')
      = link_to 'PEDIR AHORA', menu_path, class: 'btn-wide'

    %section#combos.listado
      = render @menu_items

    %section#recent
      .col2.colored
        %h1.envolved Últimas Órdenes Entregadas
        %ul#eda
          %li Orden #3430 Sep-17 11:05 hrs. / Zona Centro
          %li Orden #3430 Sep-17 11:05 hrs. / Colinas del Valle
          %li Orden #3430 Sep-17 11:05 hrs. / Bosques de las Lomas
          %li Orden #3430 Sep-17 11:05 hrs. / Vistahermosa
          %li Orden #3430 Sep-17 11:05 hrs. / Zona Centro
          %li Orden #3430 Sep-17 11:05 hrs. / Zona Centro
          %li Orden #3430 Sep-17 11:05 hrs. / Colinas del Valle
          %li Orden #3430 Sep-17 11:05 hrs. / Bosques de las Lomas
          %li Orden #3430 Sep-17 11:05 hrs. / Vistahermosa
          %li Orden #3430 Sep-17 11:05 hrs. / Zona Centro

      .col2
        = render 'map' unless Rails.env.test?

:javascript
  new Instafood.LandingPageView()
