#content
  .wrapper
    %section#slide
      = image_tag('slid.jpg', class: 'slid')
      = image_tag('float.png', class: 'img-float')
      = link_to 'PEDIR AHORA', menu_path, class: 'btn-wide'

    %section#combos.listado
      = render @menu_items

    %section#recent
      .col2.colored
        %h1.envolved Últimas Órdenes Entregadas
        %ul#eda
          %li Orden #3431 Sep-17 11:05 hrs. / Zona Centro
          %li Orden #3432 Sep-17 11:20 hrs. / Colinas del Valle
          %li Orden #3433 Sep-17 11:27 hrs. / Bosques de las Lomas
          %li Orden #3434 Sep-17 11:35 hrs. / Vistahermosa
          %li Orden #3435 Sep-17 11:44 hrs. / Zona Centro
          %li Orden #3436 Sep-17 11:50 hrs. / Zona Centro
          %li Orden #3437 Sep-17 12:15 hrs. / Colinas del Valle
          %li Orden #3438 Sep-17 12:25 hrs. / Bosques de las Lomas
          %li Orden #3439 Sep-17 12:34 hrs. / Vistahermosa
          %li Orden #3440 Sep-17 12:45 hrs. / Zona Centro

      .col2
        = render 'map' unless Rails.env.test?

:javascript
  $(function(){
    new Instafood.LandingPageView()
  });
